.container{
    display: grid;
    background-color: rgb(240, 236, 236);
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto ;
    grid-gap: 10px;
    place-content: center;
}

#article1{ 
    border-top:#03ecfc ;
    margin-top: auto;
    float: left;
    grid-column-start: auto;
    row-gap: 20px;
}

#article2{
    border-top: #fc0303;
    margin-top: auto;
    place-content: center;
    grid-column-start: auto;
    row-gap: 20px;
}

#article3{
    border-top:#fcb103 ;
    margin-top: auto;
    place-content: center;
    grid-column-start: auto;
    row-gap: 20px;
}


#article4{
    border-top:#03a1fc ;
    margin-top: auto;
    float: right;
    grid-column-start: auto;
    row-gap:20px ;
}

    
#p{
    font-size:small ;
    text-align: center;
}

#p2{
    font-size: large ; 
    text-align: center;
}

#p1{
    font-size: large ;
    text-align: center;
}